.global-btn{
    background: linear-gradient(135deg,  purple, rgb(245, 33, 156));
    border: none;
    color: white;
    padding: 5px;
    width: 10%;
    height: 8%;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
}
.global-btn:hover{
    background: linear-gradient(135deg, rgb(105, 0, 105), rgb(196, 20, 125));
}