.sidebar-container{
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    background-color: #fff;
}

.sidebar-container ul{
    list-style: none;
}

.sidebar-container li{
    width: 100%;
}

.sidebar-container a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: rgb(90, 14, 52);
    /* box-sizing: border-box; */
}

.sidebar-container a:hover{
    background: linear-gradient(90deg,rgb(109, 41, 109),rgb(185, 26, 106));
    color:#fff;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}